<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>upload</title>
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/upimg.js" ></script>
		<link rel="stylesheet" href="../css/upimg.css" />
	</head>
	<body>
		<!--
        	作者：1283919713@qq.com
        	时间：2018-10-22
        	描述：上传图片,预览
        -->
		<div class="up-btn container">
			<input id="inputImg" name="inputImg" onchange="upload(this)" type="file"/>
		</div>
		<img id="img" src="" alt=""/>
	</body>
</html>
